.App {
  padding: 4em 2em;
  width: 800px;
  font-size: 0.8em;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.save-container {
  display: flex;
  justify-content: center;
}

.save-button {
  margin: 1em;
  padding: 5px 10px;
  font-size: 1.5em;
}

p {
  margin: 0;
}
